---
---

@import "{{ site.theme }}";

table {
    width: 100%;
    background: #fff;
    margin: 1em 0;
    border: 1px solid rgba(34,36,38,.15);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: .28571429rem;
    text-align: left;
    color: rgba(0,0,0,.87);
    border-collapse: separate;
    border-spacing: 0;
}

table tr td:first-child {
  border-left: none;
}

table tr td {
  border-left: 1px solid rgba(34, 36, 38, .1);
}
